<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Opret site - QuickSite</title>
	<%- include("../partials/head") %>
</head>
<body>
	<%- include("../partials/navbar")%>
	
	<div class="container mt-3">

		<h2>Opret site</h2>

		<div class="p-4 pt-1">

			<form method="POST" enctype="multipart/form-data" id="createForm" accept-charset="utf-8">
				
				<div class="form-group mt-3">
					<label for="inputName"><b>Navn</b></label>
					<input required maxlength="255" type="text" class="form-control" id="inputName" name="name" aria-describedby="Navn" placeholder="Indtast navn">
			  	</div>
  
			  	<div class="form-group mt-3">
					<label for="inputSkabelon"><b>Skabelon</b></label>

					<% skabeloner.forEach((skab_id)=> { %>

						<div class="form-check bg-light rounded mt-4 pl-3 pt-3 pb-3 d-flex flex-wrap align-items-center">
							<div class="d-inline-flex w-25">
								<input required value="<%= skab_id.id %>" class="form-check-input m-1" type="radio" name="skabelon_id" id="skabRadio<%= skab_id.id %>">
								<label class="form-check-label" for="skabRadio<%= skab_id.id %>">
									<%= skab_id.name %>
								</label>
							</div>
							<div class="m-3">
								<img src="<%= skab_id.img_placement %>" onclick="$('#skabRadio<%= skab_id.id %>').click()" class="rounded" style="object-fit: cover; object-position: top; max-width: 100%; width: 400px; height: 200px;">
							</div>
						</div>

					<% }) %>
					  
			   	</div>
  
			   	<div class="form-group mt-3">
				 	<label for="inputContactMail"><b>Kontakt Mail</b></label>
				  	<input required maxlength="255" type="email" class="form-control" id="inputContactMail" name="contact_mail" aria-describedby="Mail" placeholder="Indtast Mail">
			   	</div>
  
			  	<div class="form-group mt-3">
				  	<label for="inputContactPhone"><b>Kontakt Telefon</b></label>
				  	<input required maxlength="255" type="text" class="form-control" id="inputContactPhone" name="contact_phone" aria-describedby="Telefon" placeholder="Indtast Telefon">
			   	</div>
  
			 	<div class="form-group mt-3">
					<label for="inputContactAddress"><b>Kontakt Addresse</b></label>
					<input required maxlength="255" type="text" class="form-control" id="inputContactAddress" name="contact_address" aria-describedby="Adresse" placeholder="Indtast Adresse">
			   	</div>
  
			  	<div class="form-group mt-3">
				  	<label for="inputContactName"><b>Kontakt Navn</b></label>
				  	<input required maxlength="255" type="text" class="form-control" id="inputContactName" name="contact_name" aria-describedby="Kontakt Navn" placeholder="Indtast kontakt navn">
			   	</div>
  
			  	<div class="form-group mt-3">
				  	<label for="inputSubDomain"><b>Sub-domain</b></label>
				  	<input required maxlength="255" type="text" class="form-control" id="inputSubDomain" name="sub_domain" aria-describedby="Sub Domæne" placeholder="dit-hjemmeside-domæne">
			   	</div>
			  
			  	<div class="form-group mt-3">
				  	<label><b>Text</b></label>
				  	<textarea required maxlength="2500" id="inputText" class="w-100 p-2 form-control rounded" style="resize: vertical; min-height: 50px;" name="text"></textarea>
			  	</div>
  
			  	<div class="form-group mt-3">
				  	<label for="inputFavicon"><b>Upload Logo</b></label> <br>
					<img id="imagePreview" alt=" " width="60" height="50" class="rounded">
				  	<input required type="file" accept="image/png,image/gif,image/jpeg" class="form-control mt-2" id="inputFavicon" name="favicon" aria-describedby="Logo / Favicon" placeholder="Upload logo">
			   	</div>

				<hr>

				<div id="loginAlert" class="alert alert-danger w-100 mt-3" style="display: none;" role="alert">
					...
				</div>
			
			  	<button type="submit" class="btn btn-primary mt-2 w-50 position-relative" style="left: 50%; transform: translateX(-50%);">Opret</button>
			
			</form>

		</div>

	</div>

	<script>

		// Prevent default
		$("#createForm").submit(e => {

			// Prevent
			e.preventDefault();

			submitSave();

		});

		// Vis image preview når logo uploades
		document.getElementById("inputFavicon").onchange = function () {
			var reader = new FileReader();

			reader.onload = function (e) {
				// get loaded data and render thumbnail.
				document.getElementById("imagePreview").src = e.target.result;
			};

			// read the image file as a data URL.
			reader.readAsDataURL(this.files[0]);
		};
		
		function submitSave() {

			// FormData
			var formData = new FormData($("form")[0]);

			// Timeout
			setTimeout(() => {
				// Ajax
				$.ajax({
					url: "/createSite",
					method: "POST",
					data: formData,
					processData: false,
    				contentType: false,
				}).done((succ) => {

					// Gør dette når funktionen fuldender med success!
					// console.log("Success", succ);

					// Tjek om success er true
					if (succ.success) {

						// Ingen problemer
						$("#loginAlert").css("display", "inherit");
						$("#loginAlert").removeClass("alert-danger");
						$("#loginAlert").addClass("alert-success");
						$("#loginAlert").html(succ.status);

						// Vent 2 sekunder og derefter redir
						setTimeout( () => {

							window.location.href = "/mySites";

						}, 2000);

					}else {

						// Der er sket en fejl
						// Vis loginError
						$("#loginAlert").css("display", "inherit");
						$("#loginAlert").removeClass("alert-success");
						$("#loginAlert").addClass("alert-danger");
						$("#loginAlert").html(succ.status);

						// Console log
						console.log(formData.entries());

					}

				}).fail((err) => {

					// Gør dette hvis der sker en fejl
					// console.log("Fail", err);

					// Vis loginError
					$("#loginAlert").css("display", "inherit");
					$("#loginAlert").removeClass("alert-success");
					$("#loginAlert").addClass("alert-danger");
					$("#loginAlert").html(err.status);

					// Console.log
					console.log("Err!", err);

				})
			}, 500);

		}

		// Konverter til base 64
		function getBase64(file, handleData) {
			var reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onload = function () {
				console.log("reader", reader.result);
				handleData(reader.result);
			};
			reader.onerror = function (error) {
				console.log('Error: ', error);
			};
		}

	</script>

</body>
</html>