<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>QuickSite</title>
	<%- include("../partials/head") %>
</head>
<body>
	<%- include("../partials/navbar")%>
	
	<div class="container mt-3">

		<h2>Rediger site</h2>

		<div class="p-4 pt-1">

			<form method="POST" enctype="multipart/form-data" id="editForm" accept-charset="utf-8">

				<div class="form-group mt-3">
					<label for="inputName"><b>Navn</b></label>
					<input required maxlength="255" value="<%= siteInfo.name %>" type="text" class="form-control" id="inputName" name="name" aria-describedby="Navn" placeholder="Indtast navn">
			  	</div>
  
			  	<div class="form-group mt-3">
					<label for="inputSkabelon"><b>Skabelon</b></label>
				  
				  	<% skabeloner.forEach((skab_id)=> { %>
						  
						<div class="form-check bg-light rounded mt-4 pl-3 pt-3 pb-3 d-flex align-items-center">
							<div class="d-inline-flex w-25">
								<input <% if (siteInfo.skabelon_id === skab_id.id) { %> checked <% } %> required value="<%= skab_id.id %>" class="form-check-input m-1" type="radio" name="skabelon_id" id="skabRadio<%= skab_id.id %>">
								<label class="form-check-label" for="skabRadio<%= skab_id.id %>">
									<%= skab_id.name %>
								</label>
							</div>
							<div class="m-3">
								<img src="<%= skab_id.img_placement %>" onclick="$('#skabRadio<%= skab_id.id %>').click()" class="rounded" style="object-fit: cover; object-position: top; max-width: 100%; width: 400px; height: 200px;">
							</div>
						</div>
  
				  	<% }) %>
  
			   	</div>
  
			   	<div class="form-group mt-3">
					<label for="inputContactMail"><b>Kontakt Mail</b></label>
					<input required maxlength="255" value="<%= siteInfo.contact_mail %>" type="email" class="form-control" id="inputContactMail" name="contact_mail" aria-describedby="Mail" placeholder="Indtast Mail">
			   	</div>
  
			  	<div class="form-group mt-3">
				  	<label for="inputContactPhone"><b>Kontakt Telefon</b></label>
				  	<input required maxlength="255" value="<%= siteInfo.contact_phone %>" type="text" class="form-control" id="inputContactPhone" name="contact_phone" aria-describedby="Telefon" placeholder="Indtast Telefon">
			   	</div>
  
			  	<div class="form-group mt-3">
				  	<label for="inputContactAddress"><b>Kontakt Addresse</b></label>
				  	<input required maxlength="255" value="<%= siteInfo.contact_address %>" type="text" class="form-control" id="inputContactAddress" name="contact_address" aria-describedby="Adresse" placeholder="Indtast Adresse">
			   	</div>
  
			  	<div class="form-group mt-3">
				  	<label for="inputContactName"><b>Kontakt Navn</b></label>
				  	<input required maxlength="255" value="<%= siteInfo.contact_name %>" type="text" class="form-control" id="inputContactName" name="contact_name" aria-describedby="Kontakt Navn" placeholder="Indtast kontakt navn">
			   	</div>
  
			  	<div class="form-group mt-3">
				  	<label for="inputSubDomain"><b>Sub-domain</b></label>
				  	<input required maxlength="255" value="<%= siteInfo.sub_domain %>" type="text" class="form-control" id="inputSubDomain" name="sub_domain" aria-describedby="Sub Domæne" placeholder="dit-sub-domæne">
			   	</div>

				<div class="form-group mt-3">
					<label><b>Text</b></label>
					<textarea required maxlength="2500" name="text" id="inputText" class="w-100 p-2 form-control rounded" style="resize: vertical; min-height: 50px;" name="text"><%= siteInfo.text %></textarea>
				</div>
	
				<div class="form-group mt-3">
					<label for="inputFavicon"><b>Upload Logo</b></label> <br>
					<img id="imagePreview" src="<%= siteInfo.favicon %>" alt="Aktuelt logo" width="60" height="50" class="rounded">
					<input type="file" accept="image/png,image/gif,image/jpeg" class="form-control mt-2" id="inputFavicon" name="favicon" aria-describedby="Logo / Favicon" placeholder="Upload logo" name="favicon">
				</div>

				<hr>

				<div id="loginAlert" class="alert w-100 alert-danger mt-3" style="display: none;" role="alert">
					...
				</div>
			  
				<button type="submit" class="btn btn-primary mt-2 w-50 position-relative" style="left: 50%; transform: translateX(-50%);">Gem</button>

			</form>

		</div>

	</div>

	<script>

		// Prevent default
		$("#editForm").submit(e => {

			// Prevent
			e.preventDefault();

			submitSave();

		})

		// Vis image preview når logo uploades
		document.getElementById("inputFavicon").onchange = function () {
			var reader = new FileReader();

			reader.onload = function (e) {
				// get loaded data and render thumbnail.
				document.getElementById("imagePreview").src = e.target.result;
			};

			// read the image file as a data URL.
			reader.readAsDataURL(this.files[0]);
		};

		function submitSave() {

			// FormData
			var formData = new FormData($("form")[0]);

			// Append site_id
			formData.append("site_id", <%= siteInfo.id %>)

			// Timeout -- vent på base64 conversion
			setTimeout(() => {

				// Ajax
				$.ajax({
					url: "/updateSite",
					method: "POST",
					data: formData,
					processData: false,
    				contentType: false,
				}).done((succ) => {

					// Gør dette når funktionen fuldender med success!
					// console.log("Success", succ);
					// console.log(favicon_base64);

					// Tjek om success er true
					if (succ.success) {

						// Ingen problemer
						$("#loginAlert").css("display", "inherit");
						$("#loginAlert").removeClass("alert-danger");
						$("#loginAlert").addClass("alert-success");
						$("#loginAlert").html(succ.status);

						// Vent 2 sekunder og derefter redir
						setTimeout( () => {

							window.location.href = "/mySites";

						}, 2000);

					}else {

						// Der er sket en fejl
						// Vis loginError
						$("#loginAlert").css("display", "inherit");
						$("#loginAlert").removeClass("alert-success");
						$("#loginAlert").addClass("alert-danger");
						$("#loginAlert").html(succ.status);

						// Console log
						console.log(formData.entries());

					}

				}).fail((err) => {

					// Gør dette hvis der sker en fejl
					// console.log("Fail", err);

					// Vis loginError
					$("#loginAlert").css("display", "inherit");
					$("#loginAlert").removeClass("alert-success");
					$("#loginAlert").addClass("alert-danger");
					$("#loginAlert").html(err.status);

				})

			}, 500)

		}

		// Konverter til base 64
		function getBase64(file, handleData) {
			var reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onload = function () {
				console.log("reader", reader.result);
				handleData(reader.result);
			};
			reader.onerror = function (error) {
				console.log('Error: ', error);
			};
		}

		// Promise version af base64 konversion
		function toBase64(file) {
			return new Promise((resolve, reject) => {
				const reader = new FileReader();
				reader.readAsDataURL(file);
				reader.onload = () => resolve(reader.result);
				reader.onerror = error => reject(error);
			});
		}

	</script>

</body>
</html>