<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>QuickSite</title>
	<%- include("../partials/head") %>
</head>
<body>
	<%- include("../partials/navbar")%>
	
	<div class="container mt-3">

		<h2>Rediger site</h2>

		<div class="p-4 pt-1">
			<div id="loginAlert" class="alert alert-danger" style="display: none;" role="alert">
				...
			</div>

			<div class="form-group mt-3">
			  	<label for="inputName">Navn</label>
			  	<input required value="<%= siteInfo.name %>" type="text" class="form-control" id="inputName" name="inputName" aria-describedby="Navn" placeholder="Indtast navn">
			</div>

			<div class="form-group mt-3">
				<label for="inputSkabelon">Skabelon</label>
				<input required value="<%= siteInfo.skabelon_id %>" type="text" class="form-control" id="inputSkabelon" name="inputSkabelon" aria-describedby="Skabelon" placeholder="Indtast skabelon ID">
		 	</div>

			 <div class="form-group mt-3">
				<label for="inputContactMail">Kontakt Mail</label>
				<input required value="<%= siteInfo.contact_mail %>" type="email" class="form-control" id="inputContactMail" name="inputContactMail" aria-describedby="Mail" placeholder="Indtast Mail">
		 	</div>

			<div class="form-group mt-3">
				<label for="inputContactPhone">Kontakt Telefon</label>
				<input required value="<%= siteInfo.contact_phone %>" type="text" class="form-control" id="inputContactPhone" name="inputContactPhone" aria-describedby="Telefon" placeholder="Indtast Telefon">
		 	</div>

			<div class="form-group mt-3">
				<label for="inputContactAddress">Kontakt Addresse</label>
				<input required value="<%= siteInfo.contact_address %>" type="text" class="form-control" id="inputContactAddress" name="inputContactAddress" aria-describedby="Adresse" placeholder="Indtast Adresse">
		 	</div>

			<div class="form-group mt-3">
				<label for="inputContactName">Kontakt Navn</label>
				<input required value="<%= siteInfo.contact_name %>" type="text" class="form-control" id="inputContactName" name="inputContactName" aria-describedby="Kontakt Navn" placeholder="Indtast kontakt navn">
		 	</div>

			<div class="form-group mt-3">
				<label for="inputSubDomain">Sub-domain</label>
				<input required value="<%= siteInfo.sub_domain %>" type="text" class="form-control" id="inputSubDomain" name="inputSubDomain" aria-describedby="Sub Domæne" placeholder="Indtast Sub-Domæne">
		 	</div>
			
			<div class="form-group mt-3">
				<label>Text</label>
				<textarea required id="inputText" class="w-100 p-2 form-control rounded" style="resize: vertical; min-height: 50px;"><%= siteInfo.text %></textarea>
			</div>

			<div class="form-group mt-3">
				<label for="inputFavicon">Upload Logo</label>
				<input type="file" class="form-control" id="inputFavicon" name="inputFavicon" aria-describedby="Logo / Favicon" placeholder="Upload logo">
		 	</div>
		  
			<button type="submit" class="btn btn-primary mt-2" onclick="submitSave()">Gem</button>

		</div>

	</div>

	<script>

		function submitSave() {

			// Opret variabler
			var name = $("#inputName").val();
			var skabelon_id = $("#inputSkabelon").val();
			var contact_mail = $("#inputContactMail").val();
			var contact_phone = $("#inputContactPhone").val();
			var contact_name = $("#inputContactName").val();
			var contact_address = $("#inputContactAddress").val();
			var text = $("#inputText").val();
			var sub_domain = $("#inputSubDomain").val();
			var site_id = <%= siteInfo.id %>;

			// Favicon upload
			var favicon_data = $("#inputFavicon").prop("files")[0];

			// Konverter til base64
			var favicon_base64;

			// TJek om favicon er blevet uploadet
			if (favicon_data) {
				
				// GetBase64
				getBase64(favicon_data, result => {
					favicon_base64 = result;
				});

				// Promise toBase64
				// toBase64(favicon_data).then((result) => {favicon_base64 = result});
			}

			// Timeout -- vent på base64 conversion
			setTimeout(() => {

				// Ajax
				$.ajax({
					url: "/updateSite",
					method: "POST",
					data: {
						name: name,
						skabelon_id: skabelon_id,
						contact_mail: contact_mail,
						contact_phone: contact_phone,
						contact_name: contact_name,
						contact_address: contact_address,
						text: text,
						sub_domain: sub_domain,
						site_id: site_id,
						favicon: favicon_base64
					},
				}).done((succ) => {

					// Gør dette når funktionen fuldender med success!
					// console.log("Success", succ);
					console.log(favicon_base64);

					// Tjek om success er true
					if (succ.success) {

						// Ingen problemer
						$("#loginAlert").css("display", "inherit");
						$("#loginAlert").removeClass("alert-danger");
						$("#loginAlert").addClass("alert-success");
						$("#loginAlert").html(succ.status);

					}else {

						// Der er sket en fejl
						// Vis loginError
						$("#loginAlert").css("display", "inherit");
						$("#loginAlert").removeClass("alert-success");
						$("#loginAlert").addClass("alert-danger");
						$("#loginAlert").html(succ.status);

						// Console log
						console.log(name, skabelon_id, contact_mail, contact_phone, contact_name, contact_address, text, sub_domain);

					}

				}).fail((err) => {

					// Gør dette hvis der sker en fejl
					// console.log("Fail", err);

					// Vis loginError
					$("#loginAlert").css("display", "inherit");
					$("#loginAlert").removeClass("alert-success");
					$("#loginAlert").addClass("alert-danger");
					$("#loginAlert").html(err.status);

				})

			}, 500)

		}

		// Konverter til base 64
		function getBase64(file, handleData) {
			var reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onload = function () {
				console.log("reader", reader.result);
				handleData(reader.result);
			};
			reader.onerror = function (error) {
				console.log('Error: ', error);
			};
		}

		// Promise version af base64 konversion
		function toBase64(file) {
			return new Promise((resolve, reject) => {
				const reader = new FileReader();
				reader.readAsDataURL(file);
				reader.onload = () => resolve(reader.result);
				reader.onerror = error => reject(error);
			});
		}

	</script>

</body>
</html>