<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>QuickSite</title>
	<%- include("../partials/head") %>
</head>
<body>
	<%- include("../partials/navbar")%>
	
	<div class="container mt-3">

		<h2>Rediger site</h2>

		<div id="editForm" class="p-4 pt-1">
			<div id="loginAlert" class="alert alert-danger" style="display: none;" role="alert">
				...
			</div>

			<div class="form-group mt-3">
			  	<label for="inputName"><b>Navn</b></label>
			  	<input required value="<%= siteInfo.name %>" type="text" class="form-control" id="inputName" name="inputName" aria-describedby="Navn" placeholder="Indtast navn">
			</div>

			<div class="form-group mt-3">
				<label for="inputSkabelon"><b>Skabelon</b></label>
				<input required value="<%= siteInfo.skabelon_id %>" type="text" class="form-control" id="inputSkabelon" name="inputSkabelon" aria-describedby="Skabelon" placeholder="Indtast skabelon ID">
		 	</div>

			 <div class="form-group mt-3">
				<label for="inputContactMail"><b>Kontakt Mail</b></label>
				<input required value="<%= siteInfo.contact_mail %>" type="email" class="form-control" id="inputContactMail" name="inputContactMail" aria-describedby="Mail" placeholder="Indtast Mail">
		 	</div>

			<div class="form-group mt-3">
				<label for="inputContactPhone"><b>Kontakt Telefon</b></label>
				<input required value="<%= siteInfo.contact_phone %>" type="text" class="form-control" id="inputContactPhone" name="inputContactPhone" aria-describedby="Telefon" placeholder="Indtast Telefon">
		 	</div>

			<div class="form-group mt-3">
				<label for="inputContactAddress"><b>Kontakt Addresse</b></label>
				<input required value="<%= siteInfo.contact_address %>" type="text" class="form-control" id="inputContactAddress" name="inputContactAddress" aria-describedby="Adresse" placeholder="Indtast Adresse">
		 	</div>

			<div class="form-group mt-3">
				<label for="inputContactName"><b>Kontakt Navn</b></label>
				<input required value="<%= siteInfo.contact_name %>" type="text" class="form-control" id="inputContactName" name="inputContactName" aria-describedby="Kontakt Navn" placeholder="Indtast kontakt navn">
		 	</div>

			<div class="form-group mt-3">
				<label for="inputSubDomain"><b>Sub-domain</b></label>
				<input required value="<%= siteInfo.sub_domain %>" type="text" class="form-control" id="inputSubDomain" name="inputSubDomain" aria-describedby="Sub Domæne" placeholder="Indtast Sub-Domæne">
		 	</div>
			
			<div class="form-group mt-3">
				<label><b>Text</b></label>
				<textarea required id="inputText" class="w-100 p-2 form-control rounded" style="resize: vertical; min-height: 50px;"><%= siteInfo.text %></textarea>
			</div>

			<div class="form-group mt-3">
				<label for="inputFavicon"><b>Upload Logo</b></label> <br>
				<img src="<%= siteInfo.favicon %>" alt="Aktuelt logo" width="60" height="50" class="rounded">
				<input type="file" accept="image/png,image/gif,image/jpeg" class="form-control mt-2" id="inputFavicon" name="inputFavicon" aria-describedby="Logo / Favicon" placeholder="Upload logo">
		 	</div>
		  
			<button type="submit" class="btn btn-primary mt-2" onclick="submitSave()">Gem</button>

		</div>

	</div>

	<script>

		function submitSave() {

			// Opret variabler
			var name = $("#inputName").val();
			var skabelon_id = $("#inputSkabelon").val();
			var contact_mail = $("#inputContactMail").val();
			var contact_phone = $("#inputContactPhone").val();
			var contact_name = $("#inputContactName").val();
			var contact_address = $("#inputContactAddress").val();
			var text = $("#inputText").val();
			var sub_domain = $("#inputSubDomain").val();
			var site_id = <%= siteInfo.id %>;

			// Favicon upload
			var favicon_data = $("#inputFavicon").prop("files")[0];

			// FormData
			let formData = new FormData();
			formData.append("name", name);
			formData.append("skabelon_id", skabelon_id);
			formData.append("contact_mail", contact_mail);
			formData.append("contact_phone", contact_phone);
			formData.append("contact_name", contact_name);
			formData.append("contact_address", contact_address);
			formData.append("text", text);
			formData.append("sub_domain", sub_domain);
			formData.append("favicon", favicon_data);
			formData.append("site_id", <%= siteInfo.id %>);

			// Timeout -- vent på base64 conversion
			setTimeout(() => {

				// Ajax
				$.ajax({
					url: "/updateSite",
					method: "POST",
					data: formData,
					processData: false,
    				contentType: false,
				}).done((succ) => {

					// Gør dette når funktionen fuldender med success!
					// console.log("Success", succ);
					// console.log(favicon_base64);

					// Tjek om success er true
					if (succ.success) {

						// Ingen problemer
						$("#loginAlert").css("display", "inherit");
						$("#loginAlert").removeClass("alert-danger");
						$("#loginAlert").addClass("alert-success");
						$("#loginAlert").html(succ.status);

						// Vent 2 sekunder og derefter redir
						setTimeout( () => {

							window.location.href = "#editForm";

						}, 2000);

					}else {

						// Der er sket en fejl
						// Vis loginError
						$("#loginAlert").css("display", "inherit");
						$("#loginAlert").removeClass("alert-success");
						$("#loginAlert").addClass("alert-danger");
						$("#loginAlert").html(succ.status);

						// Console log
						console.log(name, skabelon_id, contact_mail, contact_phone, contact_name, contact_address, text, sub_domain);

					}

				}).fail((err) => {

					// Gør dette hvis der sker en fejl
					// console.log("Fail", err);

					// Vis loginError
					$("#loginAlert").css("display", "inherit");
					$("#loginAlert").removeClass("alert-success");
					$("#loginAlert").addClass("alert-danger");
					$("#loginAlert").html(err.status);

				})

			}, 500)

		}

		// Konverter til base 64
		function getBase64(file, handleData) {
			var reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onload = function () {
				console.log("reader", reader.result);
				handleData(reader.result);
			};
			reader.onerror = function (error) {
				console.log('Error: ', error);
			};
		}

		// Promise version af base64 konversion
		function toBase64(file) {
			return new Promise((resolve, reject) => {
				const reader = new FileReader();
				reader.readAsDataURL(file);
				reader.onload = () => resolve(reader.result);
				reader.onerror = error => reject(error);
			});
		}

	</script>

</body>
</html>