<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>QuickSite</title>
	<%- include("../partials/head") %>
</head>
<body>
	<%- include("../partials/navbar")%>
	
	<div class="container mt-3">

		<h2>Dine Sites</h2>

		<div id="mySitesCont" class="d-flex flex-row justify-content-center flex-wrap">

			<% if (siteInfo.length > 0) { %>
			
				<% siteInfo.forEach((site) => { %>

					<div class="card m-3 d-inline-block" style="width: 30rem;">
						<img src="<%= site.favicon %>" style="width: 100%; height: 200px; object-fit: cover;" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title"><%= site.name %></h5>
							<p class="card-text"><%= site.text %></p>
							<p class="card-text"><i>/s/<%= site.sub_domain %></i></p>
							<a href="/rediger-site/<%= site.sub_domain %>" class="btn btn-secondary">Rediger side</a>
							<a href="/s/<%= site.sub_domain %>" class="btn btn-primary">Besøg side</a>
							<button onclick="deleteSite(<%= site.id %>)" class="btn btn-danger">Slet side</button>
						</div>
					</div>

				<% }) %>

			<% }else { %>

				<div>

					Du har ingen sites. Få oprettet din første site <a href="/opret-site">her!</a>

				</div>

			<% } %>

		</div>

	</div>

	<script>

		/* $(document).ready(function() {

			console.log("Doc ready!")

			// Fetch data fra api
			$.ajax({
				url: "/getSites",
				method: "GET",
			}).done((succ) => {

				// Gør dette når funktionen fuldender med success!
				// console.log("Success", succ);

				// Tjek om success er true
				if (succ.success) {

					// Ingen problemer
					// Vue opstart
					var mySitesCont = new Vue({
						el: '#mySitesCont',
						data: {
							data: succ
						}
					})

					// Show
					// $("#mySitesCont").removeClass("d-none");

				}else {

					// Der er sket en fejl
					alert(succ.status);

					// Redir
					window.location.href = "/login";

				}

			}).fail((err) => {

				// Gør dette hvis der sker en fejl
				console.log("Fail", err);

				// Vis loginError
		

			})

		})
 */
		// Funktion til sletning af site
		function deleteSite(site_id) {

			// Confirm
			if (confirm("Er du sikker?")) {

				// Tjek om site_id er defineret
				if (site_id) {

					// Ajax call
					$.ajax({
						url: "/deleteSite",
						method: "DELETE",
						data: {
							site_id: site_id
						},
					}).done(succ => {

						// Success
						console.log(succ);

						// Tjek success
						if (succ.success) {

							// Genindlæse
							window.location.href = "/mysites";

						}

					}).fail(err => {

						// Error
						console.log(err);

					})

				}else {

					// Alert
					console.log("Site_id ikke defineret", site_id);

				}
				
			}

		}
		
	</script>

</body>
</html>